<div class="card ">
  <form
  [formGroup]="form()"
  (ngSubmit)="onSubmit()"
  class="border-solid border-round border-200 p-2 formgrid grid">
    <div class="field col-12 md:col-6">
        <label for="remitente">Remitente</label>
        <input id="remitente" type="text"
        formControlName="remitente"
        aria-describedby="remitente-help"  
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        @if(form().controls['remitente'].touched &&
          form().controls['remitente'].errors?.['noUpperCaseAtStart']){
        <small 
        class="text-red-600"
        id="remitente-help">
        *Debe empezar con una mayúscula
        </small>
        }
    </div>
    <div class="field col-12 md:col-6">
        <label for="titulo">Título</label>
        <input id="titulo" type="text" 
        formControlName="titulo"
        aria-describedby="titulo-help"  
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        @if(form().controls['titulo'].touched &&
        form().controls['titulo'].errors?.['noUpperCaseAtStart']){
        <small 
        class="text-red-600"
        id="titulo-help">
        *Debe empezar con una mayúscula
        </small>
        }
    </div>
    <div class="field col-12">
        <label for="descripcion">Descipción</label>
        <textarea id="descripcion" type="text" rows="4" 
        formControlName="descripcion"
        aria-describedby="descripcion-help"  
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        @if(form().controls['descripcion'].touched &&
        form().controls['descripcion'].errors?.['noUpperCaseAtStart']){
        <small 
        class="text-red-600"
        id="descripcion-help">
        *Debe empezar con una mayúscula
        </small>
        }
    </div>
    <div class="field col-12 md:col-6">
      <label for="fechaEnvio">Fecha de envío</label>
      <input id="fechaEnvio" type="date" 
      formControlName="fechaEnvio"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 md:col-6">
        <label for="tag">Tag</label>
        <select id="tag"
        formControlName="tag"
        class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
        style="appearance: auto">
            <option>ITIN</option>
            <option>BIO</option>
            <option>AGRO</option>
            <option>General</option>
          
        </select>
    </div>
    <div class="flex col-12 mt-2 gap-3">
      <p-button
      type="submit"
      [disabled]="!form().valid"
      label="Submit" />
      <p-button 
      routerLink="/announcement" 
      label="Cancelar" 
      severity="secondary" />
    </div>
  </form>
  
</div>